form.pic-form.form--hidden(action='/api/pics', method='POST')
  input.pic-form__input(type='text', name='url', placeholder='Pic url...')
  input.pic-form__input(type='text', name='description', placeholder='Pic description...')
  button.form__button(type='submit') Send