div.pic.grid-item
  img.pic__img
  div.pic__description image posted by user
  div.pic__inner-container
    button.pic__button.pic__button--profile
    button.pic__button.pic__button--delete x
    button.pic__button.pic__button--stars &#x2605;
      span.stars__count 0